# Mater Academy Data Analytics Project
created by: Eddy Varela

### In this project, we are trying to keep track of the students who improve in every quarter in order to reward their efforts to improve their grades.

Here we calculate the improvement per quarter

In [3]:
import csv
import pandas as pd

def make_excel(data_list,output):
    with open(str(output)+'.csv', 'w', newline='') as csvfile:
        writer = csv.writer(csvfile, dialect='excel')

        for i in data_list:
            writer.writerow(i)
            
    
def calc_difference(first,second):
    difference = 0
    if first == "" and second == "":
        return difference
    elif first == " ":
        first = second
        return difference

    elif second == " ":
        second = first
        return difference
    else:
        
        if(first == "F"):
            first = "E"
        if(second == "F" ):
            second ="E"
        difference = (ord(first) - ord(second))

    return difference


def get_firstID(filepath):
    with open(filepath) as file:
        reader = csv.reader(file)
        reader.__next__()
        num = reader.__next__()[0]
    return num

def calculate_improvement(filepath,output):
    print(str(output)+ ":")
    l = []
    with open(filepath) as file:
        reader = csv.reader(file)
        reader.__next__() #Skip first row
        points = 0
        IDnum = 0
        pre= []
        IDnum = get_firstID(filepath)

        for row in reader:
    
            firstNineWeeks = row[5]
            secondNineWeeks = row[6]
            checkID = row[0]
            name = row[3] + " "+ row[4]
            grade = row[2]

            if (IDnum != checkID):
                l.append([pre[0],pre[2], pre[3]+ " " +pre[4] , points])
                points = 0
                IDnum = checkID
            
            points += calc_difference(firstNineWeeks, secondNineWeeks)
            pre = row
    make_excel(l,output)

Here we are going to look at students who improve quarter over quarter

In [123]:
def continuous_improvement(q1_csv, q2_csv, output):
#     calculate_improvement(q1_csv, output)
#     calculate_improvement(q2_csv, output+"2")
    clean_files(q1_csv, q2_csv, "./"+output+".csv")
    
    
def clean_files(f1, f2, out):
    df_1 = pd.read_csv(f1, names = ["ID", "Grade", "Name", "Points"])
    df_2 = pd.read_csv(f2, names = ["ID", "Grade", "Name", "Points"])
    
    df_1 = df_1.merge(df_2, left_on = "ID", right_on="ID")
    df_1 = df_1.drop(df_1.columns[4:6], axis=1)

    print(df_1)
    
    r_df = pd.DataFrame()
    for ind in df_1.index:
        if (df_1["Points_x"][ind]>0 and df_1["Points_y"][ind]>0):
            r_df = r_df.append(df_1.iloc[ind])
    
    
    r_df.set_index("ID").to_csv(out)

In [124]:
continuous_improvement('./6012_q1.csv','./6012_q2-q3.csv', "6012_improve")
continuous_improvement('./7014_q1.csv','./7014_q2-q3.csv', "7014_improve")

# continuous_improvement('./data/7014_1.csv', './data/7014.csv', "7014_continuous_improvement")
# continuous_improvement('./data/6012_1.csv', './data/6012.csv', "6012_continuous_improvement")

          ID  Grade_x                 Name_x  Points_x  Points_y
0      89326        8        ADRIANA CABRERA        -1         0
1     143026        7         JAMARIYA MARCH         0         3
2     209643        8           LISBETH DIAZ         1         0
3     212905        8        JOSHUA RADCLIFF         5         0
4     230270        8          MICHAEL PEREZ        -1         7
5     246656        7      CHRISTINA MEDEROS        -4         2
6     248013        6       ANTHONY CASTILLO        -1         2
7     255576        8            ANGEL NICOT         0        -1
8     256714        8       CHRISTOPHE PEREZ         1        -2
9     257227        8      GABRIEL RODRIGUEZ         0         0
10    258136        8         NATHAN ZELEDON         0         0
11    260006        8           LILIANA BOZA         2         0
12    260455        7           ANGEL LAREDO        -3         0
13    268657        8         PAMELA SEVILLA         3         1
14    274707        8          KENNY MANRESA         1         2
15    285104        8           WILMER MEJIA         3        -4
16    290179        8           EDIS BARRIOS        -1        -1
17    295292        8           DAYANA LOPEZ        -1         0
18    295311        8         NATALIE LAHERA        -3         3
19    296572        8    STEPHANIE HERNANDEZ         6        -1
20    297879        8           JAVIER LOPEZ        -1         1
21    299038        8           ASHLEE GOMEZ         5        -6
22    299110        8            KELLY BOSCH        -4        -1
23    299507        8         MARBELYS PEREZ         2        -2
24    299566        7            BRYAN NARDO         0        -1
25    300698        8             COLIN VEGA         1         0
26    301025        7            ROSA ZAVALA        -3         2
27    302715        8           JOHANN MUNOZ        -2         0
28    304218        8        SEBASTIAN MEJIA        -3        -2
29    304712        8         SERIAH ST-REMY        -1         3
...      ...      ...                    ...       ...       ...
1272  808201        6          JUAN MARTINEZ        -5         5
1273  808243        7         ISAMARA RIVERO        -2        -4
1274  808245        8         BRANDON CASTRO         0         2
1275  808265        8          VICTOR SUAREZ         0         0
1276  808490        7       DAPHNE RODRIGUEZ         2         0
1277  808776        7       JESSICA HAMILTON         1        -4
1278  808778        6         JOSHUA CARDOSO         2        -1
1279  809029        8      VANESSA RODRIGUEZ         2        -2
1280  809035        7             DULCE RUIZ        -1         2
1281  809338        8            LUIS MORERA        -2        -2
1282  811013        6          MADDOX FOWLES        -2        -2
1283  811190        6        MILENIE MOREJON         6        -4
1284  811385        6  JUSTIN VALDES-FERNAND        -3         3
1285  812349        6        JONATHAN ORTEGA         2        -3
1286  812606        7           CARLA ARTESE         2         1
1287  815401        7       CRISTINA SANCHEZ         1        -1
1288  815481        8     ISABELLA ARREDONDO        -2         0
1289  816728        8     GABRIELLE PETERSON         1        -2
1290  817677        8        JASON EDGECOMBE         2        -2
1291  819512        8            AHMIR BRITT        -1        -1
1292  821434        6            LINDSAY LEE        -5         3
1293  824019        6           ASHLEY MANZO         2        -2
1294  824034        6          MAYTE LONDRES         2         0
1295  824080        8     CHRISTOPHE NAJARRO         2        -1
1296  825397        8          MARIA LORENZO         0         0
1297  832583        6            ANA MIDENCE         7         4
1298  832584        8          JOSUE MIDENCE        22         0
1299  834036        8           DIANGO PARRA        22        -3
1300  837264        6       VINCENT VILLAPOL         0        -4
1301  837265        8       ELISA ECHEMENDIA         0        19

[1302 rows x 5 columns]
         ID  Grade_x                   Name_x  Points_x  Points_y
0     88974       12           ALEXA DELAROSA        -2         0
1    106146       12            CINDY LOUZADO        -3         0
2    112725       12           YAZMIN BONILLA        -3         3
3    116562       12            SOPHIA TORRES        -3         1
4    116577       12            LILIANA LLERA         5        -5
5    118057       12             FELA BONILLA        -2         0
6    119673       12         STEPHANY SANCHEZ         2        -2
7    121556       12           AIDEN GUERRERO         0         1
8    124013       12          SEBASTIAN LOPEZ         0        -4
9    129084       12           TATIANA MORERA        -1         0
10   131488       11         ALEJANDRO GARCIA        -1         0
11   142352       11          LISSETTH CHEVEZ        -3        -4
12   147527       12  MARIOALBER OROZCOVARGAS        -2         1
13   148753       12         SAMANTHA PINTADO        -1        -1
14   151602       12             CHELCIE BACA         0         0
15   151735       12           BRITNEY BORGES        -2         3
16   151878       12            MELANIE LLANO         0         0
17   151885       12           TRISTAN SARDUY         0        -2
18   151912       12        DANIELA GUTIERREZ        -2        -1
19   152028       12            MAYTEE GARCIA        -2         4
20   152031       12         JENNIFER LINARES        -1        -1
21   152046       12  SAMANTHA BLANCO-MARTINE        -1         0
22   152051       12          VANESSA MENDOZA        -2         1
23   152107       12        SOPHIA VALENZUELA        -3         0
24   152159       12              MICHELLE YI         0        -4
25   154499       12          KERIANNE CUROTZ         2        -1
26   155908       12         GRACE CONCEPCION        -1         2
27   157233       12              MAYA CAMILO        -1         1
28   157256       12            DAMIAN CAPOTE        -7         4
29   158009       12          MICHAEL NAVARRO        -1         5
..      ...      ...                      ...       ...       ...
296  540341        9            YAISELYS MELO        -1         1
297  541981        9          MASSIELL CUELLO         0         0
298  549705        9       CHRISTOPHE GORECKI         3        -1
299  558635       10       CAROLINE HERNANDEZ        -4         3
300  567707       10           ELISA GREGORIO         0         3
301  570062       11              MARIAM CRUZ        -1         1
302  589599       10          YAITEE MARTINEZ         0         0
303  595479       10       YAZMINA CASAVIELLE        -1        -1
304  612936        9             JESSICA SOSA         0         1
305  613976        9          STEPHANIE PEREA        -4         0
306  620130        9          ANTHONY GOENAGA         0         0
307  631867        9         CHRISTOPHE ARTAU         0        -2
308  633018       10            LIANNETH DIAZ        -7         5
309  633175       10            DANIELA PEREZ        -4         3
310  638776       11            DANIEL AGUIAR        -1         2
311  644822        9          GABRIELA DELEON         1        -1
312  651732       12           MELANY BELTRAN         0         1
313  654929       10            MONICA SUAREZ        -1         0
314  656383       12         JULEINY SANDOVAL         3        -1
315  659687       10          JENNIFER ACOSTA         1         2
316  662518        9        BRIANNA GUTIERREZ         2         1
317  672666       10            MELISSA OLIVA        -5         0
318  678403       10             MARIAH CHANG         6        -4
319  681007       11             ALEXA CAMPOS        -5         3
320  694422        9          JOLEANY SOBRINO        -2        -1
321  699508       11          KATHERINE FELIZ         1         0
322  699588       11          JASMINE MARRERO         2        -2
323  706970       10         DANIELLA CHIRINO        -4         3
324  711881       10          ALEJANDRA VIERA         1         1
325  730157       12        ALEJANDRA TABARES         2         1

[326 rows x 5 columns]